.cell {
  border: 1px solid #fff;
  color: #fff;
  font-size: calc(10px + 2vmin);
  line-height: 50px;
  min-height: 50px;
  min-width: 75px;
  text-align: center;

  &:hover {
    cursor: pointer;
    font-size: calc(15px + 2vmin);
  }

  &:focus {
    outline: none;
  }
}
