.modal {
  display: none;

  &__content {
    align-items: center;
    background-color: rgba(40, 44, 52, 0.75);
    border: 5px solid #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;

    margin: -150px 0 0 -400px;
  }

  &__close {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;    position: absolute;
    right: 5px;
    top: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &--opened {
    display: block;
  }
}
