.modal {
  display: none;

  &__content {
    align-items: center;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__close {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;    position: absolute;
    right: 5px;
    top: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &--opened {
    display: block;
  }
}
